apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ include "AmazonRoute53-ingress-controller.name" . }}
  labels:
    app.kubernetes.io/name: {{ include "AmazonRoute53-ingress-controller.name" . }}
    helm.sh/chart: {{ include "AmazonRoute53-ingress-controller.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "AmazonRoute53-ingress-controller.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "AmazonRoute53-ingress-controller.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ include "AmazonRoute53-ingress-controller.name" . }}
      containers:
        - name: {{ .Chart.Name | lower}}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - "--log-level={{ .Values.logLevel }}"
            - "--log-format={{ .Values.logFormat }}"
{{ if .Values.whitelistPrefix }}
            - "--whitelist-prefix={{ .Values.whitelistPrefix }}"
{{ end }}
{{ if .Values.whitelistSuffix }}
            - "--whitelist-suffix={{ .Values.whitelistSuffix }}"
{{ end }}
          env:
{{ if .Values.accessKey }}
            - name: AWS_ACCESS_KEY_ID
              value: {{ .Values.accessKey }} 
{{ end }}
{{ if .Values.secretKey }}
            - name: AWS_SECRET_ACCESS_KEY
              value: {{ .Values.secretKey }}
{{ end }}
            - name: AWS_REGION
              value: {{ .Values.awsRegion }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
